<div class="flex-Container">
    <div class="Left">
        <div class="user-Photo">
            <div class="photo">
                <div class="name">Akmal Nasrulloh </div>
            </div>
        </div>
        <div class="Menu default-padding">
            <p class="MenuHeading">MENU</p> 
            <div class="MenuItems">
                <h3 class="Overview">&#9946;
                    Overview &#11164;</h3>
                <div class="items">
                    <p>&#8801; <i class="fas fa-analytics"></i>Transactions</p>
                    <p>&#9744; Analytics</p>
                    <p>&#127017; Cards</p>
                </div>
            </div>
        </div>

        <div class="General  default-padding">
            <p>GENERAL</p>
            <div class="GeneralItems">
                <p>&#9784; Settings</p>
                <p>&#8265; Help/Support</p>
                <p> &#9770;Dark Mode</p>
            </div>
        </div>
        <div class="NewPayment rounded default-padding">
            <p class="Payment"></p>
        </div>

    </div>

</div>