.OuterBox {
    display: block;
    border-radius: 30px 30px 30px 30px;
    width: 700px;
}

.secondRow {
    outline: thick solid #cddfcd;
    background-color: gray;
}

.Search {
    padding: 0px 0px 0px 70px;
    font-weight: lighter;
    width: 155px;
}

.Filter {
    font-weight: bold;


}

.Export {
    font-weight: bold;

}

.Heading {
    width: 140px;

}

.tbl-content {
    width: 100px;
}

.name {
    width: 120px;

}

.dot {
    border-color: white;
}

.tbl {
    width: 100%;
}

.btn-search {
    width: 200px !important;
}