<div class="CardSection upper-rounded default-padding ">

    <div class="LowerCard">
        <div class="CardHeading">
            <div class="margin-left-10">
                <h3>My Cards: 1/2
                    <button class="rightSideicon1" type="submit">&#60;</button>
                    <button class="margin-left-10" type="submit">&#62;</button>
                </h3>
            </div>
            <div class="">
                <p class="cardimg"></p>
                <div class="add-card-img margin-left-10 margin-right-10">
                    <p class="plus">&#10753; Add New Card</p>
                </div>
            </div>
        </div>
        <div class="action-head margin-left-10">
            <h3>Quick Actions</h3>
        </div>
        <div class="action-content rounded default-padding">
            <div class="ActionsIcons">
                <div class="Icon1"> &#10753;</div>
                <div class="Icon2"> &#x2B9E;</div>
                <div class="Icon3"> &#9859;</div>
            </div>
            <div class="action-Items">
                <div class="Item1">Top Up</div>
                <div class="Item2">Transfer </div>
                <div class="Item3"> Withdrawl </div>
            </div>
        </div>
    </div><br><br>
    <div class="SavingPlan margin-left-10">
        <div class="saving-heading">
            <h3>Saving Plan</h3>
        </div>
        <div class="plus-icon margin-right-10">
            <h4>&#10753;</h4>
        </div>
    </div>
    <div class="WatchImage">
        <p></p>
    </div>
</div>